## UPPGIFT 2 - VACCINE DATA

In [1]:
import pandas as pd
import seaborn as sns
import plotly_express as px
import matplotlib.pyplot as plt

vaccin_df = pd.read_excel("covid_data\Folkhalsomyndigheten_Covid19_Vaccine.xlsx", sheet_name= "Vaccinerade kommun och ålder")
vaccin_df

,Län,Län_namn,Kommun,Kommun_namn,Ålder,Befolkning,Antal minst 1 dos,Antal minst 2 doser,Antal 3 doser,Antal 4 doser,Andel minst 1 dos,Andel minst 2 doser,Andel 3 doser,Andel 4 doser
0,1,Stockholms län,114,Upplands Väsby,12-15,2422,1206,1046,NaN,NaN,0.497936,0.431874,NaN,NaN
1,1,Stockholms län,114,Upplands Väsby,16-17,1203,836,753,NaN,NaN,0.694929,0.625935,NaN,NaN
2,1,Stockholms län,114,Upplands Väsby,18-29,6692,4883,4464,1957.0,NaN,0.729677,0.667065,0.292439,NaN
3,1,Stockholms län,114,Upplands Väsby,30-39,7332,5550,5249,2881.0,NaN,0.756956,0.715903,0.392935,NaN
4,1,Stockholms län,114,Upplands Väsby,40-49,6946,5587,5425,3720.0,NaN,0.804348,0.781025,0.535560,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,25,Norrbottens län,2584,Kiruna,50-59,3079,2875,2857,2479.0,NaN,0.933745,0.927899,0.805132,NaN
2896,25,Norrbottens län,2584,Kiruna,60-69,2781,2650,2635,2437.0,NaN,0.952895,0.947501,0.876303,NaN
2897,25,Norrbottens län,2584,Kiruna,70-79,2194,2115,2108,2034.0,1786.0,0.963993,0.960802,0.927074,0.814038
2898,25,Norrbottens län,2584,Kiruna,80-89,1280,1257,1254,1222.0,1095.0,0.982031,0.979688,0.954688,0.855469
2899,25,Norrbottens län,2584,Kiruna,90 eller äldre,219,206,206,200.0,173.0,0.940639,0.940639,0.913242,0.789954

### 2a answers about the number of provinces in the dataset

In [2]:
num_län = vaccin_df["Län"].nunique()
print(f"There are {num_län} län in the dataset")

There are 21 län in the dataset

### 2b answers about the number of municipalities in the dataset

In [4]:
num_kommun = vaccin_df["Kommun"].nunique()
print(f"There are {num_kommun} kommuns in the dataset")

There are 290 kommuns in the dataset

### 2c answers about how big the population is in the dataset

In [7]:
vaccin_df.groupby("Län_namn")[["Befolkning"]].sum(numeric_only = True)

                      Befolkning
Län_namn
Blekinge län              139327
Dalarnas län              252075
Gotlands län               53924
Gävleborgs län            252216
Hallands län              295663
Jämtlands län             115398
Jönköpings län            317355
Kalmar län                216763
Kronobergs län            175503
Norrbottens län           220199
Skåne län                1215047
Stockholms län           2094721
Södermanlands län         261596
Uppsala län               343478
Värmlands län             248314
Västerbottens län         239604
Västernorrlands län       214317
Västmanlands län          242630
Västra Götalands län     1519483
Örebro län                266544
Östergötlands län         408633

In [5]:
population_size_df = vaccin_df["Befolkning"].sum()
print(f"The size of the population in the dataset is {population_size_df}")

The size of the population in the dataset is 9092790

### 2d answers about the number of children under the age of 18 in Sweden
 - First we can get the population size from the dataset
 - We need the total population of sweden
 - find the total population of children under 18 
 - total_population is 10508669 from https://www.scb.se/hitta-statistik/statistik-efter-amne/befolkning/befolkningens-sammansattning/befolkningsstatistik/

In [6]:
df1 = vaccin_df.groupby("Ålder")[["Befolkning"]].sum(numeric_only = True)
df1.drop(df1.index[2:], inplace=True)

print(df1)
under_18_in_df = df1["Befolkning"].sum()
print(f"Number of children under 18 in dataframe is {under_18_in_df}")

total_population = 10508669  #population of sweden as of today 2022-11-10
population_under_18 = total_population - (population_size_df - df1["Befolkning"].sum()) #

print(f"The number of children under 18 in Sweden is {population_under_18}")

       Befolkning
Ålder
12-15      503831
16-17      241539
Number of children under 18 in dataframe is 745370
The number of children under 18 in Sweden is 2161249

### 2e shows a diagram of age distribution in the dataset